---
BasedOnStyle: LLVM
Language:        Cpp
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
BinPackParameters: true
BreakBeforeBraces: Linux
IndentWidth:     4
ObjCBlockIndentWidth: 4
ReflowComments:  IndentOnly
SortIncludes:    Never
TabWidth:        4
UseTab:          Never
ColumnLimit:     100
AlignConsecutiveBitFields:
  Enabled:         true
...

